<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="../../stylesheets/form.css">
</head>

<body>
    <div class="main">
        <h1>SIGNUP NOW</h1>
        <%= msg%>
            <form action="" method="POST">
                <label for="name">
            NAME : <input type="text" name="name" placeholder="john">
            <br>
        </label>
                <br>
                <label for="name">
                Class: <input type="text" name="class" placeholder="XII">
                <br>
        </label>
                <br>
                <label for="Phone_number">
            Contact Number : <input type="number" name="contact" placeholder="0000000000">
            <br>
        </label>
                <br>
                <label for="email">
            Email:<input type="email" name="email" placeholder="xyz@gmail.com">
            <br>
        </label>
                <br>

                <label for="password">
            password :<input type="password" name="password" placeholder="******">
            <br>
        </label>
                <br>
                <label for="gender">
            Gender:
            <br>
            <input type="radio" id="male" name="gender" value="male">
            <label for="male">Male</label>
                <input type="radio" id="female" name="gender" value="female">
                <label for="female">Female</label>
                <input type="radio" id="other" name="gender" value="other">
                <label for="other">Other</label>
                <br>
                </label>


                <p><span><input type="checkbox" id="terms">I agree to the terms of services</span></p>
                <center><button type="submit" class="btn">SIGNUP</button></center>
                
                <hr>
                <p>
                    <b>Do you want to update ?</b> <a href="/update">update</a>
                </p>
                
            </form>
    </div>

</body>

</html>