<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update</title>
</head>
<body>
    

<form action="" method="post">
      <%= msg%>
      <hr>

    <input type="text" name="passcheck" id="" placeholder="Enter Password ">
    <hr>
    <input type="text" name="nameu" placeholder="Enter updated name" ><br><hr>
    <input type="text" name="passu" placeholder="Enter updated password"><br><hr>
    <button type="submit"> update </button>
</form>

    
</body>
</html>