<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="../../stylesheets/userHome.css">
</head>

<body>
    <div class="navigation">
        <nav>
            <img src="FinalLogo.png" alt="oops!!! something went wrong." width="100" height="80">
            <ul class="list">
                <li>
                    <a href="#">
                        <bold>Home</bold>
                </li>
                <li>
                    <a href="#">
                        <bold>About us</bold>
                </li>
                <li>
                    <a href="#">
                        <bold>Contact us</bold>
                </li>
                <li>
                    <a href="/signup">
                        <bold>Sign Up</bold>
                </li>
                <li><a href="#">Search:<input type="text"  placeholder="Search.."></li>
                
            </ul>
        </nav>
    </div>
    <div class="box">
        <div class="quote">
            <h2 style="opacity: unset;
                  content: normal;
                  background-size: inherit;
                  align-self: auto;
                  padding: 80px; ;
                  zoom:2 ;
                  align-content: center;
                  text-align: center;">WE MAKE YOUR FUTURE SAFE </h2>
        </div>
        <div class="login">
            <form action="">
                <h1>Login </h1>
                <input type="email" class="input" placeholder="email id">
                <br>
                <input type="password" class="input" placeholder="*********" >
                <br>
                <button type="button " class="input">Sign in</button>
                <a href="#" >Forgotten Password</a>
                    </form>

    </div>
    </div>
    <div class="footer">

        <p>
            CopyRights:AJ production 2021:2025
        </p>
    </div>
</body>

</html>